<i class="fa-thin  fa-grid-horizontal"></i>
<div class="row">
    <div class=" col-lg-2 col-md-12">
        <h3 class="m-5">Budget</h3>

    </div>
    <div class="dashboard col-lg-10 col-md-12">
        <h3 class="m-5">Dashboard</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, dolores commodi blanditiis itaque numquam
            accusamus. </p>
        <div class="row text-white">
            <div class="col-lg-3">
                <div class="card me-5 " style="width: 18rem; background-color: rgb(48, 48, 200);">
                    <div class="card-body">
                        <h5 class="card-title">Total users</h5>
                        <h6 class="card-subtitle mb-2 text-muted">1,567</h6>
                        <p class="card-text">Since last month</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card me-5" style="width: 18rem; background-color: rgb(60, 98, 60);">
                    <div class="card-body">
                        <h5 class="card-title">Savings Account</h5>
                        <h6 class="card-subtitle mb-2 text-muted">1,500</h6>
                        <p class="card-text">Since last month</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card me-5" style="width: 18rem; background-color: rgb(48, 48, 200);">
                    <div class="card-body">
                        <h5 class="card-title">Savings Account</h5>
                        <h6 class="card-subtitle mb-2 text-muted">1,500</h6>
                        <p class="card-text">Since last month</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card" style="width: 18rem; background-color: rgb(60, 98, 60);">
                    <div class="card-body">
                        <h5 class="card-title">Savings Account</h5>
                        <h6 class="card-subtitle mb-2 text-muted">1,500</h6>
                        <p class="card-text">Since last month</p>

                    </div>
                </div>
            </div>

        </div>
        <br><br>

        <h4>Recently Active Users</h4>
        <table>
            <th>USER ID NAME
                <tr>Monicca James</tr>
                <tr>Samantha</tr>
                <tr>Catherine</tr>
                <tr>Lleana Sam</tr>
            </th>
            <div class="m-5">
                <th>PHONE NUMBER
                    <tr>9548756845</tr>
                    <tr>9785457856</tr>
                    <tr>6857452135</tr>
                    <tr>7685954785</tr>
                </th>
            </div>
                <th>TRANSACTION CATOGARY
                    <tr>Income Salary</tr>
                    <tr>Income Salary</tr>
                    <tr>Income Salary</tr>
                    <tr>Income Salary</tr>
                </th>

                <div class="m-5">
                    <th>BALANCE AMOUNT
                        <tr>6000</tr>
                        <tr>6000</tr>
                        <tr>6000</tr>
                        <tr>6000</tr>
                    </th>
                </div>
            
        </table>