/* You can add global styles to this file, and also import other style files */
.div1{
    
    height: 697px;
    width: 100%;
background-image: url(./assets/budgetimg.jpg);
background-size: cover;

}
.head1{
    margin-top: 100px;
}


